.footer {
	padding: 5px 0 25px 0;
	background-image: url("../../assets/img/footer-bg.png");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.footer img {
	width: 25%;
}

.footer .footer-logo {
	margin-top: -35px;
}

.footer p {
	font-weight: 400;
	font-size: 14px;
	color: #b8b8b8;
	letter-spacing: 0.5px;
	margin-top: 20px;
}

.footer .social-icon {
	margin-top: 15px;
}
